@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #050505;
    --color-surface: #121212;
    --color-primary: #00FF41;
    --color-text: #E5E5E5;
  }
  
  body {
    @apply bg-background text-text font-sans antialiased overflow-x-hidden selection:bg-primary selection:text-black;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar { width: 6px; }
  ::-webkit-scrollbar-track { @apply bg-background; }
  ::-webkit-scrollbar-thumb { @apply bg-gray-800 rounded-full hover:bg-primary transition-colors; }
}
